/* ------------------------------------------------
              Employee register page 
   ------------------------------------------------ */

.employee-task-register-form {
  display: flex;
  width: 900px;
  margin: 50px auto;
  box-shadow: 0 10px 30px rgba(6, 35, 129, 0.637);
  border-radius: 12px;
  overflow: hidden;  
}

/*--- LEFT SIDE ---*/
.employee-task-left-register {
  flex: 1;
  background: #a7c9ec;
  color: white;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employee-task-left-register img {
  width: 200px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.employee-task-left-register h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #157722;
}

.employee-task-left-register p {
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.9;
  color: #075f49;
}

/*--- RIGHT SIDE ---*/
.employee-task-right-register {
  flex: 1;
  padding: 40px;
  background: #fff;
}

.employee-task-right-register h2 {
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center;
}

.employee-task-right-register p {
  margin-bottom: 20px;
  color: #666;
  text-align: center;
}

/*--- INPUTS ---*/
.employee-register-task-page input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.employee-register-task-page input:focus {
  border: 1px solid #0aa06e;   
  outline: none;               
  box-shadow: 0 0 0 3px rgba(10, 160, 110, 0.15);
}

/*--- BUTTON ---*/
.employee-register-task-page button {
  width: 100%;
  padding: 12px;
  background: #2a7fe0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.employee-register-task-page button:hover {
  background-color: #075f49;
}

/*--- LOGIN LINK ---*/
.employee-login-link {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
}

.employee-login-link a {
  color: #146acc;
  text-decoration: none;
}

.employee-register-password-wrapper {
  position: relative;
}

.Emp-reg-toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.Emp-reg-toggle-password i {
  font-size: 14px;
}

.Emp-reg-toggle-password:hover {
  color: #2d89ef;
}


/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------
              Admin Login page
   ----------------------------------------- */

/* ===== left PANEL ===== */
.admin-login-container {
  display: flex;
  max-width: 800px;
  width: 90%;
  margin: 60px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(13, 16, 170, 0.651);
  overflow: hidden;
}

.admin-left-login {
  flex: 1;
  background: #a7ecd5;
  color: white;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-left-login img {
  width: 170px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.admin-left-login h1 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #073e7e;
}

.admin-left-login p {
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.9;
  color: #07235f;
}

/* ===== RIGHT PANEL ===== */
.admin-right-login {
  flex: 1;
  padding: 40px;
  background: #fff;
}

.admin-right-login h2 {
  margin-bottom: 15px;
  font-size: 26px;
  text-align: center;
}

.admin-right-login p {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

/* ===== INPUTS ===== */
.admin-form-login input {
  width: 100%;
  padding: 13px;
  margin-bottom: 18px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.admin-form-login input:focus {
  border-color: #2a7fe0;
  outline: none;
  box-shadow: 0 0 0 3px rgba(42,127,224,0.15);
}

/* ===== BUTTON ===== */
.admin-form-login button {
  width: 100%;
  padding: 12px;
  background: #2a7fe0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.admin-form-login button:hover {
  background: #075f49;
}

/* ===== PASSWORD ===== */
.admin-login-password-wrapper {
  position: relative;
}

.admin-lg-toggle-password {
  position: absolute;
  right: 12px;
  top: 38%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.admin-lg-toggle-password i {
  font-size: 12px;
}

.admin-lg-toggle-password:hover {
  color: #2d89ef;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------
             Employee Login Page
   ------------------------------------------- */

/*--- CARD ---*/
.employee-task-login-form {
  width: 850px;
  height: 450px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(12, 2, 150, 0.719);
  margin: 60px auto;
  background: #fff;
}

/*--- LEFT SIDE ---*/
.employee-task-left-login {
  flex: 1;
  background-color: rgb(152, 206, 179);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.employee-task-left-login img {
  width: 170px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.employee-task-left-login h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #073e7e;
}

.employee-task-left-login p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.9;
  color: #07235f;
}

/*---- RIGHT SIDE ----*/
.employee-task-right-login {
  flex: 1;
  background: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.employee-task-right-login h2 {
  margin-bottom: 15px;
  font-size: 26px;
  text-align: center;
}

/*--- INPUT ---*/
.emp-loginForm input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.emp-loginForm input:focus {
  border-color: #2a7fe0;
  outline: none;
  box-shadow: 0 0 0 3px rgba(42,127,224,0.15);
}

/*--- LOGIN BUTTON ---*/
.emp-loginForm button[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #13722f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.emp-loginForm button[type="submit"]:hover {
  background: #e05536;
}

/*--- LINK BUTTONS ---*/
.emp-link-btn {
  margin-top: 15px;
  background: none;
  border: none;
  color: #3a3edc;
  cursor: pointer;
}

/*--- REGISTER BUTTON ---*/
.emp-lg-register-btn {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #3a3edc;
  background: transparent;
  color: #3a3edc;
  border-radius: 8px;
  cursor: pointer;
}

.emp-lg-register-btn:hover {
  background: #3a3edc;
  color: white;
}

/*--- Password hide icon ---*/
.emp-lg-password-box {
  position: relative;
}

.emp-lg-password-box input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.emp-lg-password-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 12px;
}

.emp-lg-password-box i:hover {
  color: #2d89ef;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------
            Home Page - header
   --------------------------------------------- */

/* ===== HEADER ===== */
.home-header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background: #037c40;
  color: white;
}

/*---- LOGO ----*/
.home-etms-logo {
  display: flex;
  align-items: center;
}

.home-etms-logo img {
  width: 100px;
  margin-right: 10px;
}

/*--- NAV MENU ---*/
.etms-header-menu-nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.etms-header-menu-nav-links a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 23px;
  padding-bottom: 5px;
  transition: 0.3s;
}

/*--- HOVER EFFECT ---*/
.etms-header-menu-nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background: #dde1e6; /* underline color */
  transition: 0.3s;
}

.etms-header-menu-nav-links a:hover::after {
  width: 100%;
}

.etms-header-menu-nav-links a:hover {
  color: #ffe082;
}

/*--- RIGHT SIDE BUTTONS ---*/
.etms-header-menu-nav-actions {
  display: flex;
  gap: 25px;
}

.etms-header-menu-nav-actions a {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
  background: white;
  color: #2a7fe0;
  font-size: 18px;
}

.etms-header-menu-nav-actions a:hover {
  background: #5f0750;
  color: white;
}



/* ===== HERO Banner ===== */
.etms-home-hero {
  text-align: center;
  padding: 70px 20px;
  background: #f4f6f9;
}

.etms-home-hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.etms-home-hero p {
  font-size: 19px;
  color: #555;
  max-width: 600px;
  margin: auto;
  line-height: 1.5; 
}

/* ===== FEATURES ===== */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 50px;
  background: white;
}

.feature-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(4, 107, 35, 0.699);
  transition: all 0.3s ease;
  border-left: 5px solid #4f46e5;
}

.feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.feature-box h3 {
  margin-bottom: 10px;
  font-size: 19px;
  color: #1f2937;
}

.feature-box p {
  font-size: 15px;
  line-height: 1.6;
  color: #6b7280;
}


/*--- how it works ---*/
.how-it-works {
  padding: 40px 20px;
  background: #f4f7fb;
  text-align: center;
  counter-reset: step;
}

/*--- Title ---*/
.etms-title h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #1f2937;
}

/*--- Row common ---*/
.row {
  display: grid;
  gap: 35px;
  margin-bottom: 50px;
}

/*---- 3 boxes row ----*/
.row-3 {
  grid-template-columns: repeat(3, 1fr);
}

/*--- 2 boxes row centered ---*/
.row-2 {
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
  margin: 0 auto;
}

/*--- Card ---*/
.etms-home-step {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
  counter-increment: step;
}

.etms-home-step:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(6, 145, 64, 0.548);
}

/*--- Heading ---*/
.etms-home-step h3 {
  font-size: 19px;
  margin-bottom: 10px;
  color: #4f46e5;
}

.etms-home-step h3::before {
  content: counter(step);
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto 10px;
  border-radius: 50%;
  background: #168544;
  color: #fff;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  margin-bottom: 15px;
}

/*--- Text ---*/
.etms-home-step p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* ================== 
     FOOTER - Home 
   ================== */

footer {
  text-align: center;
  padding: 20px;
  background: #065c31;
  color: white;
}

/*--- Footer about ---*/
.about-footer {
  text-align: center;
  padding: 20px;
  background: #065c31;
  color: white;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------
              About Page 
   --------------------------------------    */

/*---About Hero Section ---*/
.about-hero-etms {
  text-align: center;
  padding: 60px 20px;
  background: #f4f6f9;
}

.about-hero-etms h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-hero-etms p {
  font-size: 19px;
  color: #555;
  max-width: 600px;
  margin: auto;
  line-height: 1.5; 
}

/*--- About overview ---*/
.about-etms-overview {
  padding: 50px 20px;
  margin: auto;
}

.about-etms-overview h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #1f2937;
}

.about-etms-overview p {
  color: #555;
  line-height: 1.7;
  text-align: center;
  font-size: 20px;
}

/*--- Why ETMS ---*/
.about-etms-purpose {
  padding: 50px 20px;
  background: #f9fafc;
  text-align: center;
}

/*--- Title ---*/
.about-etms-purpose h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #1f2937;

  position: relative;
  display: inline-block;
  cursor: pointer;
}

/*--- underline ---*/
.about-etms-purpose h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #076ce9;
  transform: translateX(-50%);
  transition: 0.3s;
}

/*--- hover ---*/
.about-etms-purpose h2:hover::after {
  width: 100%;
}

.about-etms-purpose h2:hover {
  color: #4f46e5;
}

/*--- List ---*/
.about-etms-purpose ul {
  list-style: none;
  padding: 0;
}

/*--- Cards ---*/
.about-etms-purpose li {
  background: #bfe3f8;
  margin: 20px auto;
  padding: 15px 20px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);

  display: flex;
  align-items: center;
  gap: 12px;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
  font-size: 18px;
}

/*--- Delay animation ---*/
.about-etms-purpose li:nth-child(1) { animation-delay: 0.1s; }
.about-etms-purpose li:nth-child(2) { animation-delay: 0.2s; }
.about-etms-purpose li:nth-child(3) { animation-delay: 0.3s; }
.about-etms-purpose li:nth-child(4) { animation-delay: 0.4s; }
.about-etms-purpose li:nth-child(5) { animation-delay: 0.5s; }

/*--- Icon ---*/
.about-etms-purpose i {
  font-size: 18px;
  color: #4f46e5;
  background: #eef2ff;
  padding: 10px;
  border-radius: 50%;
}

/*--- Hover ---*/
.about-etms-purpose li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(19, 146, 68, 0.534);
}

/*--- Animation keyframes ---*/
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*--- about key point ---*/
.about-etms-key {
  padding: 40px 20px;
  background-color: white;
  text-align: center;
}

/*--- Title ---*/
.about-etms-key h2 {
  font-size: 30px;
  margin-bottom: 40px;
  color: #1f2937;
  position: relative;        /* ✅ REQUIRED */
  display: inline-block;     /* ✅ makes underline fit text */
  cursor: pointer;
}

/*--- underline ---*/
.about-etms-key h2::after {
  content: "";
  position: absolute;
  left: 50%;                 /* start from center */
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #076ce9;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

/*--- hover effect ---*/
.about-etms-key h2:hover::after {
  width: 100%;
}

.about-etms-key h2:hover {
  color: #4f46e5;   /* better than yellow for UI */
}

/*--- Grid Layout ---*/
.about-etms-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  max-width: 1100px;
  margin: auto;
}

/*--- Card ---*/
.etms-feature-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(8, 151, 32, 0.596);
  transition: all 0.3s ease;
}

/*--- Hover Effect ---*/
.etms-feature-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

/*--- Heading ---*/
.etms-feature-box h3 {
  color: #4f46e5;
  margin-bottom: 15px;
  font-size: 20px;
}

/*--- Text ---*/
.etms-feature-box p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------
           Contact Page 
   --------------------------------- */

/*--- Contact ETMS ---*/
.contact-etms-section {
  padding: 50px 20px;
}

/*---- Reusable Title ----*/
.contact-etms-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #1f2937;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.contact-etms-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #4f46e5;
  transform: translateX(-50%);
  transition: 0.3s;
}

.contact-etms-title:hover::after {
  width: 110%;
}

.contact-etms-title:hover {
  color: #4f46e5;
}

/*--- Layout ---*/
.contact-container-etms {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

/*--- Info Box ---*/
.contact-info-etms {
  background: #4f46e5;
  color: white;
  padding: 30px;
  border-radius: 12px;
}

.contact-info-etms h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: rgb(7, 247, 67);
}

.contact-info-etms i {
  margin-right: 8px;
  margin-bottom: 15px; 
  color: rgb(8, 199, 247);
}

.contact-info-etms p {
  font-size: 16px;
}

/*--- Address Cards ---*/
.contact-address-box {
  background: rgba(255,255,255,0.15);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.contact-address-box i {
  margin-right: 8px;
  margin-bottom: 10px; 
  color: rgb(8, 199, 247);
}

.contact-address-box h4 {
  font-size: 16px;
  color: rgb(7, 247, 67);
}

.contact-address-box p {
  line-height: 1.5;
}

/*--- contact Form ---*/
.contact-etms-form {
  background: rgb(115, 190, 136);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.etms-form-title {
  font-size: 24px;
  margin-bottom: 30px;
  color: #1a2431;
  text-align: center;
  position: relative;
}

.etms-form-title::after {
  content: "";
  width: 80px;
  height: 3px;
  background: #4f46e5;
  display: block;
  margin: 8px auto 0;
  border-radius: 2px;
}

.contact-etms-form input,
.contact-etms-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contact-etms-form input:focus,
.contact-etms-form textarea:focus {
  border-color: #4f46e5;
  outline: none;
}

/*--- Button ---*/
.contact-etms-form button {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-etms-form button:hover {
  background: #3730a3;
}


/*--- contact google map ---*/
.etms-map-section {
  padding: 40px 20px;
  background: #f4f7fb;
  text-align: center;
}

/*--- Title ---*/
.etms-map-title {
  font-size: 30px;
  margin-bottom: 40px;
  color: #1f2937;
  position: relative;
  display: inline-block;
}

.etms-map-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #4f46e5;
  transform: translateX(-50%);
  transition: 0.3s;
}

.etms-map-title:hover::after {
  width: 110%;
}

.etms-map-title:hover {
  color: #4f46e5;
}

/*---- Map container ----*/
.etms-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---- Iframe styling ----*/
.etms-map-container iframe {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: 0.3s;
}

/*--- Hover effect ---*/
.etms-map-container iframe:hover {
  transform: scale(1.01);
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------
      Employee Dashboard
   ---------------------------- */

/*--- Employee Dashboard ---*/
.employee-dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #037c40;
  color: white;
  padding: 20px 50px;
}

/*--- LEFT ---*/
.left-header-emp {
  display: flex;
  align-items: center;
  gap: 55px;
}

.logo-header-emp img {
  width: 100px; 
}

.left-header-emp-menu-btn {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

/*--- CENTER TITLE ---*/
.header-emp-dash-center {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 23px;
}

/*--- Header right section ---*/
.right-header-emp {
  display: flex;
  align-items: center;
  gap: 60px;
}

/*--- Notification icon ---*/
.emp-da-icon-notification {
  position: relative;
  font-size: 23px;
  cursor: pointer;
  transition: 0.3s;
}

.emp-da-icon-notification:hover {
  color: #0b0ec7;
}

/*--- Profile section ---*/
.right-header-emp-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/*---- Avatar icon (circle) ----*/
.right-header-avatar-icon {
  width: 40px;
  height: 40px;
  background: #4CAF50;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.right-header-avatar-icon i {
  font-size: 16px;
}

/*--- Hover effect ---*/
.right-header-emp-profile:hover .right-header-avatar-icon {
  background: #007bff;
}

.right-header-emp-profile span {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}


/*--- Employee dash MAIN LAYOUT ---*/
.employee-side-bar-container {
  display: flex;
  height: 100vh;
}

/*--- SIDEBAR ---*/
.employee-dsh-sidebar {
  width: 230px;
  background: #01351f;
  color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

/*--- Sidebar links ---*/
.employee-dsh-sidebar a {
  text-decoration: none;
  color: white;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.3s;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.employee-dsh-sidebar a:hover {
  background: #347fe7;
  color: #fff;
}

/*--- Icons ---*/
.employee-dsh-sidebar i {
  width: 20px;
  text-align: center;
}

/*--- Dropdown ---*/
.employee-sidebar-task-dropdown {
  width: 100%;
}

/*--- Dropdown button ---*/
.emp-side-bar-drop-btn {
  text-decoration: none;
  color: white;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.3s;
  font-size: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.emp-side-bar-drop-btn .fa-angle-down {
  margin-left: auto;
}

.emp-side-bar-drop-btn i {
  width: 20px;
  text-align: center;
}

.emp-side-bar-drop-btn:hover {
  background: #347fe7;
  color: #fff;
}

/*--- Dropdown content ---*/
.emp-side-bar-drop-content {
  display: none;
  flex-direction: column;
  background: #076b41;
}

.emp-side-bar-drop-content a {
  padding-left: 40px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/*--- Show dropdown ---*/
.employee-sidebar-task-dropdown.active .emp-side-bar-drop-content {
  display: flex;
}


/*--- Rotate arrow ---*/
.employee-sidebar-task-dropdown.active .fa-angle-down {
  transform: rotate(180deg);
}


/*--- Main Content area ---*/
.emp-dash-main-content {
  flex: 1;
  padding: 50px;
  background: #f1f5f9;
}

.emp-dash-main-content h2 {
  font-size: 28px;
}

/*--- Grid layout ---*/
.employee-dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 20px;
}

/*--- Card style ---*/
.emp-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.emp-card:hover {
  transform: translateY(-5px);
}

/*--- Card titles ---*/
.emp-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/*--- Numbers ---*/
.emp-card p {
  font-size: 28px;
  font-weight: bold;
}

.emp-card i {
  font-size: 24px;
  color: #078318;
}

/*--- Different colors ---*/
.emp-card.new {
  border-left: 5px solid #3b82f6;
}

.emp-card.progress {
  border-left: 5px solid #f59e0b;
}

.emp-card.completed {
  border-left: 5px solid #10b981;
}

.emp-card.all {
  border-left: 5px solid #6366f1;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------
          Admin Dashboard 
   -------------------------------- */

/*--- Admin dash MAIN LAYOUT ---*/
.Admin-side-bar-container {
  display: flex;
  /* height: 100vh; */
  min-height: calc(100vh - 60px);
}

/*--- SIDEBAR ---*/
.admin-dsh-sidebar {
  width: 270px;
  background: #01351f;
  color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

/*--- Sidebar links ---*/
.admin-dsh-sidebar a {
  text-decoration: none;
  color: white;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.admin-dsh-sidebar a:hover {
  background: #347fe7;
  color: #fff;
}

/*--- Icons ---*/
.admin-dsh-sidebar i {
  width: 20px;
  text-align: center;
  color: rgb(221, 224, 6);
}

.admin-side-bar-drop-btn .icon-color  {
   color: white;
}

/*--- Dropdown ---*/
.admin-sidebar-task-dropdown {
  width: 100%;
}

/*--- Show dropdown ---*/
.admin-sidebar-task-dropdown.active .admin-side-bar-drop-content {
  display: flex;
}

/*--- Rotate arrow ---*/
.admin-sidebar-task-dropdown.active .fa-angle-down {
  transform: rotate(180deg);
}

.admin-sidebar-task-dropdown .admin-side-bar-drop-content {
  display: none;
}

.admin-sidebar-task-dropdown.active .admin-side-bar-drop-content {
  display: block;
}

/*--- Dropdown button ---*/
.admin-side-bar-drop-btn {
  text-decoration: none;
  color: white;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
  font-size: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.admin-side-bar-drop-btn .fa-angle-down {
  margin-left: auto;
}

.admin-side-bar-drop-btn i {
  width: 20px;
  text-align: center;
}

.admin-side-bar-drop-btn:hover {
  background: #347fe7;
  color: #fff;
}

/*--- Dropdown content ---*/
.admin-side-bar-drop-content {
  display: none;
  flex-direction: column;
  background: #076b41;
}

.admin-side-bar-drop-content a {
  padding-left: 40px;
  font-size: 16px;
  letter-spacing: 0.5px;
}


/*--- Main Content area ---*/
.admin-dash-main-content {
  flex: 1;
  padding: 50px;
  background: #f1f5f9;
}

.admin-dash-main-content h2 {
  font-size: 28px;
}

/*--- Grid layout ---*/
.admin-dashboard-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 20px;
}

/*--- Card style ---*/
.admin-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.admin-card:hover {
  transform: translateY(-5px);
}

/*--- Card titles ---*/
.admin-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/*--- Numbers ---*/
.admin-card p {
  font-size: 28px;
  font-weight: bold;
}

.admin-card i {
  font-size: 24px;
  color: #078318;
}

/*--- Different colors ---*/
.admin-card.Total-Department {
  border-left: 5px solid #3b82f6;
}

.admin-card.Total-Employee {
  border-left: 5px solid #f59e0b;
}

.admin-card.New-Tasks {
  border-left: 5px solid #10b981;
}

.admin-card.Inprogress {
  border-left: 5px solid #6366f1;
}

.admin-card.Completed {
  border-left: 5px solid #d063f1;
}

.admin-card.All-Tasks {
  border-left: 5px solid #f1636f;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------
      Profile dropdown filed
   ----------------------------- */

/*--- Admin profile dropdown ---*/
.admin-profile-dropdown {
  position: relative;
  display: inline-block;
}

/*--- Dropdown hidden ---*/
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background: white;
  min-width: 160px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-radius: 8px;
  overflow: hidden;
  z-index: 999;
}

/*--- Show class ---*/
.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu i {
  margin-right: 8px;
  color: rgb(6, 131, 48);
}

.dropdown-menu a:hover {
  background: #f1f1f1;
}

/*---- Employee ----*/

.emp-dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background: white;
  min-width: 180px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-radius: 8px;
  overflow: hidden;
  z-index: 999;
}

/*--- Show class ---*/
.emp-dropdown-menu.show {
  display: block;
}

.emp-dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.emp-dropdown-menu i {
  margin-right: 8px;
  color: rgb(6, 131, 48);
}

.emp-dropdown-menu a:hover {
  background: #f1f1f1;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------
      Search Employee - Admin Side
   ------------------------------------- */

/*--- Card container ---*/
.search-card-emp {
  width: 80%;
  margin: 30px auto;
  background: #fff;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 50%;
}

/*--- Title ---*/
.search-card-emp h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

/*--- Inner box ---*/
.search-box-emp {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

/*--- Label ---*/
.search-box-emp label {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

/*--- Input ---*/
.search-box-emp input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.search-box-emp input:focus {
  border: 1px solid #0a4ba0;   
  outline: none;               
  box-shadow: 0 0 0 3px rgba(10, 92, 160, 0.15);
}

/*--- Button ---*/
.search-box-emp button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.search-box-emp button:hover {
  background: #0056b3;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------
       Task Reports - Admin Side 
   -------------------------------    */

/*---- Main Card ----*/
.task-report-card-emp {
  width: 80%;
  margin: 40px auto;
  background: #ffffff;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 70%;
}

/*--- Title ---*/
.task-report-card-emp h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

/*--- Blue Section ---*/
.task-report-box {
  background: #a9c4db;
  padding: 20px;
  border-radius: 6px;
}

/*--- Form Group ---*/
.task-rep-form-group {
  margin-bottom: 15px;
}

/*--- Label ---*/
.task-rep-form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #222;
}

/*--- Input ---*/
.task-rep-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/*--- Input focus effect ---*/
.task-rep-form-group input:focus {
  border-color: #007bff;
  outline: none;
}

/*--- Button ---*/
.task-rep-btn-add {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/*--- Button hover ---*/
.task-rep-btn-add:hover {
  background: #218838;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------
       Add department -admin
   ------------------------------------- */

/*---- Card Container ----*/
.add-department-admin {
  width: 80%;
  margin: 40px auto;
  background: #ffffff;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 100%;
}

/*---- Title ----*/
.add-department-admin h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

/*---- Form Box ----*/
.add-department-box {
  background: #a9c4db;
  padding: 20px;
  border-radius: 6px;
}

/*---- Form Group ----*/
.add-department-form-group {
  margin-bottom: 15px;
}

/*---- Label ----*/
.add-department-form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #222;
}

/*---- Input ----*/
.add-department-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.add-department-form-group input:focus {
  border-color: #007bff;
  outline: none;
}

/*---- Button ----*/
.add-department-btn-add {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/*---- Button Hover ----*/
.add-department-btn-add:hover {
   background: #218838;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------
       Manage Department - admin 
   ------------------------------- */

.manage-dept-card {
  width: 80%;
  margin: 40px auto;
  background: #ffffff;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 70%;
}

.manage-dept-card h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.manage-dept-table {
  width: 100%;
  border-collapse: collapse;
}

.manage-dept-table th,
.manage-dept-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.manage-dept-table th {
  background-color: #f5f5f5;
}

/*---- Buttons ----*/
.manage-dept-btn-edit {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.manage-dept-btn-edit:hover {
  background-color: #0056b3;
}

.manage-dept-btn-delete {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.manage-dept-btn-delete:hover {
  background-color: #a71d2a;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------
     Add Employee - admin side 
   ------------------------------------- */
   
/*--- Card Container ---*/
.add-employee-card-admin {
  width: 80%;
  margin: 40px auto;
  padding: 50px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 100%;
}

/*--- Title ---*/
.add-employee-card-admin h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

/*--- Form Layout ---*/
.add-employee-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background: #a9c4db;
  padding: 20px;
  border-radius: 6px;
}

.add-employee-btn-add textarea,
.add-employee-btn-add {
  grid-column: span 2;
}

/*--- Form Group ---*/
.add-employee-form-group {
  display: flex;
  flex-direction: column;
}

/*--- Label ---*/
.add-employee-form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #080808;
}

/*--- Inputs, Select, Textarea ---*/
.add-employee-form-group input,
.add-employee-form-group select,
.add-employee-form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s;
}

/*--- Focus Effect ---*/
.add-employee-form-group input:focus,
.add-employee-form-group select:focus,
.add-employee-form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

/*--- Textarea ---*/
.add-employee-form-group textarea {
  resize: none;
}

/*--- File Input ---*/
.add-employee-form-group input[type="file"] {
  border: none;
  padding: 5px;
  cursor: pointer;
}

/*--- Button ---*/
.add-employee-btn-add {
  margin-top: 10px;
  padding: 12px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

/*--- Button Hover ---*/
.add-employee-btn-add:hover {
  background: linear-gradient(135deg, #0056b3, #003f88);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------
       Manage Employee - admin side
   ------------------------------------ */

.manage-emp-card {
  width: 80%;
  margin: 40px auto;
  background: #ffffff;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.manage-emp-card h2 {
  margin-bottom: 20px;
}

/*--- Table ---*/
.manage-emp-table {
  width: 100%;
  border-collapse: collapse;
}

.manage-emp-table th,
.manage-emp-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.manage-emp-table th {
  background: #f5f5f5;
}

/*--- Buttons ---*/
.manage-emp-btn-edit {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;

}

.manage-emp-btn-edit:hover {
  background: #0056b3;
}

.manage-emp-btn-delete {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.manage-emp-btn-delete:hover {
  background: #a71d2a;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------
       Add task - admin side 
   ------------------------------ */

.add-task-card-admin {
  width: 80%;
  margin: 40px auto;
  padding: 50px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 100%;
}

/*--- Title ---*/
.add-task-card-admin h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.add-task-box {
  background: #a9c4db;
  padding: 20px;
  border-radius: 6px;
}

.add-task-form-group {
  display: flex;
  flex-direction: column;
}

.add-task-form-group label {
  margin-bottom: 10px;
  font-weight: 500;
  color: #080808;
  margin-top: 20px;
}

.add-task-form-group input,
.add-task-form-group select,
.add-task-form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  transition: border 0.3s;
}

/*--- Focus Effect ---*/
.add-task-form-group input:focus,
.add-task-form-group select:focus,
.add-task-form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

/*--- Textarea ---*/
.add-task-form-group textarea {
  resize: none;
}

/*--- File Input ---*/
.add-task-form-group input[type="file"] {
  border: none;
  padding: 5px;
  cursor: pointer;
}

.add-task-btn {
  margin-top: 10px;
  padding: 10px 25px;
  background: #2d6cdf;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

/*--- Button Hover ---*/
.add-task-btn:hover {
  background: linear-gradient(135deg, #0056b3, #003f88);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------
       Manage Task - Admin Side 
   ------------------------------- */

.manage-task-container {
  flex: 1;
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/*--- Title ---*/
.manage-task-container h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

/*--- Filters ---*/
.manage-task-filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.manage-task-filters select {
  padding: 8px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/*--- Table ---*/
.manage-task-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
}

/*--- Header ---*/
.manage-task-table thead {
  background: #2d6cdf;
  color: white;
}

.manage-task-table th {
  padding: 12px;
  font-weight: 500;
}

/*--- Body ---*/
.manage-task-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

/*--- Row hover ---*/
.manage-task-table tbody tr:hover {
  background: #f5f7fb;
}

/*--- Buttons ---*/
.manage-task-action-btn {
  padding: 6px 12px;
  margin: 2px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

.manage-tsk-edit-btn {
  background: #ffa500;
  color: white;
}

.manage-tsk-delete-btn {
  background: #e74c3c;
  color: white;
}

.manage-tsk-status-btn {
  background: #2ecc71;
  color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* -------------------------------
       New Task - Admin Side 
   ------------------------------- */

.new-task-adm-container {
  flex: 1;
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.new-task-adm-container h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.newtask-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.newtask-table th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.newtask-table th {
  background: #2d6cdf;
  color: white;
}

.newtask-ad-status {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

.newtask-ad-status.pending {
  background: red;
}

.newtask-ad-status.updated {
  background: green;
}

.newtask-table button {
  padding: 6px 12px;
  border: none;
  background: #3498db;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.newtask-table button:hover {
  background: #2980b9;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* -------------------------------
       Inprogress Task - Admin Side 
   ------------------------------- */

.inprogress-task-container {
  flex: 1;
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.inprogress-task-container h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.inprogresstask-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.inprogresstask-table th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.inprogresstask-table th {
  background: #2d6cdf;
  color: white;
}

.inprogresstask-status-badge {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

.inprogresstask-status-badge {
  background:#ffc107;
  color:#000;
}

.inprogresstask-table button {
  background:#0d6efd;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:4px;
  cursor:pointer;
}

.inprogresstask-table button:hover {
  background: #2980b9;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------
       Completed Task - Admin Side 
   ------------------------------- */

.completed-task-container {
  flex: 1;
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.completed-task-container h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.completedtask-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.completedtask-table th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.completedtask-table th {
  background: #2d6cdf;
  color: white;
}

.completedTask-status-badge {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

.completedTask-status-badge {
  background: #28a745;
  color: white;
}


.completedtask-table button {
  background:#0d6efd;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:4px;
  cursor:pointer;
}

.completedtask-table button:hover {
  background: #2980b9;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------
      Emp Wise Task - Admin Side 
   ------------------------------- */

.emp-wise-report-container {
  flex: 1;
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.emp-wise-report-container h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.emp-wise-report-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.emp-wise-report-table th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.emp-wise-report-table th {
  background: #2d6cdf;
  color: white;
}

.emp-wise-total-row {
  background:#535252;
  color:#fff;
  font-weight:bold;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------
       Employee dashboard side - view new task 
   -------------------------------------------------- */

.emp-new-task-container {
  flex: 1;
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.emp-new-task-container h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.emp-new-task-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.emp-new-task-table th,
.emp-new-task-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.emp-new-task-table th{
  background: #2d6cdf;
  color: white;
}

.emp-newtask-no-record {
  color:red;
  font-weight:bold;
}

.emp-newTask-badge {
  background:#ffc107;
  padding:5px 10px;
  border-radius:4px;
  font-size:12px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* -----------------------------------------------------
       Employee dashboard side - view inprogress task 
   ----------------------------------------------------- */

.emp-inprogress-container {
  flex: 1;
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.emp-inprogress-container h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.emp-inpr-task-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.emp-inpr-task-table th,
.emp-inpr-task-table td{
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.emp-inpr-task-table th{
  background: #2d6cdf;
  color: white;
}

.inprogress-no-record {
  color:red;
  font-weight:bold;
}

.emp-in-progress-badge {
  background:#ffc107;
  color:#000;
  padding:5px 10px;
  border-radius:4px;
  font-size:12px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------
       Employee dashboard side - view completed task 
   ----------------------------------------------------- */

.emp-completed-container {
  flex: 1;
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.emp-completed-container h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
}

.emp-completedTask-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.emp-completedTask-table th,
.emp-completedTask-table td{
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.emp-completedTask-table th{
  background: #2d6cdf;
  color: white;
}

.emp-completedTask-badge {
  background:#28a745;
  color:#fff;
  padding:5px 10px;
  border-radius:4px;
  font-size:12px;
}

.completedTask-no-record {
  color:red;
  font-weight:bold;
}

.emp-completedTask-table button{
  background:#0d6efd;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:4px;
  cursor:pointer;
}

.emp-completedTask-table button:hover {
  background: #2980b9;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */
